:root {
    --primary: #0794f1;
    --seconday: #f8f9fa;
}

body {
    margin: 0;
    width: 100%;
}


/* ------------------------------------------------------------------
   NAVIGATION BAR
   ------------------------------------------------------------------ */

* {
    transition: all 0.5s;
}

.menu_bar {
    margin: 0;
    width: 100%;
    background-color: rgb(14, 118, 237);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: white;
    padding-top: 5px;
}

.logo a {
    padding-right: 5px;
}

.logo:hover a {
    cursor: pointer;
}

.logo span {
    color: rgb(30, 3, 83);
}

.menu_bar ul {
    margin-right: 55px;
}

.menu_bar-list ul li {
    text-decoration: none;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
    position: relative;
    transition: all 0.3s;
}

.menu_bar-list ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 100;
}

.menu_bar-list ul li:hover a {
    cursor: pointer;
}

@media (min-height:300px) {
    .menu_bar ul {
        position: sticky;
        top: 0;
    }
}

.menu_bar ul li a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 5px;
    transition: all 0.5s;
}

.menu_bar ul li a:hover::before {
    width: 100%;
}

.menu_bar ul li a:active::before {
    background-color: red;
    width: 100%;
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    background-color: var(--seconday);
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
}


/* -------------------------------------------------------------
dropdown menu
---------------------------------------------------------------- */

.dropdown_menu ul {
    display: block;
    margin: 1px;
}

.dropdown_menu ul li {
    width: 120px;
    padding-bottom: 10px;
    color: black;
    margin-left: 0;
    padding-left: 0;
    font-size: larger;
    font-weight: 100;
}

.dropdown_menu ul li:hover {
    color: var(--primary);
    cursor: pointer;
}

.dropdown_menu ul li a {
    color: black;
}

.dropdown_menu ul li a:hover {
    cursor: pointer;
    color: var(--primary);
}